@import "./satoshi.css";
@import "./cabinet-grotesk.css";
@import "./typography.css";
@import "./variables.css";

/* -------- GLOBAL -------- */
html,
body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-cream);
}

body.is-visual-fullscreen {
  --current-interface-color: var(--color-cream);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-min) 1.375rem;
  border-radius: 1px;
  border: 2px solid var(--color-dark);
}

/* -------- HERO THREE SECTION -------- */
.hero-three {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-cream);
}

.hero-three__frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
  transform-origin: center top;
  z-index: 1;
  will-change: transform, border-radius;
}

.webgl {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
}

/* -------- MANIFESTO -------- */
.manifesto {
  overflow: hidden;
  margin-top: -500px;
  background-color: var(--color-cream);
}

.manifesto .container {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;

  overflow: hidden;
  border-radius: 0px;
  transform-origin: center top;
  will-change: transform, border-radius;
}

.manifesto.is-exiting {
  background-color: var(--color-dark);
}
.manifesto.is-exiting .container {
  background-color: var(--color-cream);
}

.manifesto .text {
  padding: 0 101vw 0 101vw;
  display: flex;
  width: max-content;
  white-space: nowrap;
  color: var(--color-dark);
  font-size: 12vw;
  cursor: default;
}

.manifesto .letter {
  display: inline-block;
}

/* -------- TRAJECTOIRE -------- */
/* Title */
.trajectory {
  background-color: var(--color-dark);
  padding: 0vh 2vw 0vh;
}

.trajectory .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trajectory .title {
  color: var(--color-cream);
  font-family: "CabinetGrotesk-Variable", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12vw;
  text-align: center;
}

.trajectory .title span {
  display: inline-block;
  will-change: transform;
}

/* Sentences */
.trajectory-sentences__pin-height {
  height: 1200vh;
}

.trajectory-sentences__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trajectory-sentences__center {
  position: relative;
  width: 100%;
}

.trajectory-sentences__sentence {
  width: 100%;
  text-align: center;
  color: var(--color-cream);
  font-size: 10vw;
  line-height: 0.9;
}

.trajectory-sentences__sentence.is-two-lines {
  margin-top: -0.45em;
}

.trajectory-sentences__sentence span {
  display: inline-block;
  will-change: transform;
}

.trajectory-sentences__sentence:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

/* Viusal blocks */
.trajectory-sentences {
  background-color: var(--color-dark);
  margin-left: -2vw;
  margin-right: -2vw;
  width: calc(100% + 4vw);
  overflow: hidden;
}

.trajectory-sentences__container {
  position: relative;
  overflow: hidden;
}

.trajectory-sentences__center {
  z-index: 2;
  position: relative;
}

.trajectory-sentences__visuals {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

.trajectory-sentences__visual {
  position: absolute;
  top: 50%;
  width: 48vw;
  height: 30vh;
  background-image: url("/images/trajectory-bg2.webp");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  will-change: transform, width, height, opacity, border-radius;
}

.trajectory-sentences__visual--left {
  left: 0;
  border-radius: 0px 24px 24px 0px;
  background-position: left center;
}

.trajectory-sentences__visual--right {
  right: 0;
  border-radius: 24px 0px 0px 24px;
  background-position: right center;
}

/* -------- TOOLKIT -------- */
.toolkit {
  height: 100vh;
  background-color: var(--color-dark);
  padding: 72px 24px;
}

.toolkit .title {
  color: var(--color-cream);
  font-family: "CabinetGrotesk-Variable", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-align: center;
  margin-bottom: 24px;
}

.toolkit .subtitle {
  color: var(--color-cream);
  font-family: "CabinetGrotesk-Variable", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2vw;
  text-align: center;
}
